::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #DBDBDB;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ededed;
  }
  
  body {
    scrollbar-face-color: #DBDBDB;
    scrollbar-track-color: #ededed;
    background-color: #F5F5F5;
  }
  
  .wrapper {
    padding: 0px;
    min-height: 100%;
    max-height: 100%;
  }
  
  .wrapper .wide {
    width: 100%;
  }
  
  .wrapper .overflow {
    height: calc(100vh - 30px - 2em);
    overflow-y: auto;
  }
  
  #content {
    margin-right : 40px;
    margin-left : 40px;
    overflow: hidden;
    height: calc(100vh - 30px);
  }
  
  .mainarea{
    overflow-y: auto;
    font-size: medium;
    box-sizing: border-box;
    padding-top: 80px;
  }
  
  
  .padding {
    padding: 10px 10px 10px 10px;
  }

small{
  color: rgb(97,97,97);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.underline {
  text-decoration: underline;
}

small.key{
  color: rgb(97,97,97)
}

.key-wrapper{
  display: flex;
  min-width: 0;
}

/* label focus color */
.input-field input:focus + label {
  color: rgb(97,97,97) !important;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid rgb(97,97,97) !important;
  box-shadow: 0 1px 0 0 rgb(97,97,97) !important;
}


.import-public-key{
  cursor: pointer; 
  text-decoration: none;
  text-transform: none;
  line-height: 15px;
  height: fit-content;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 6px;
  color: rgb(97,97,97);
  background-color: rgb(224, 224, 224);
  padding: 5px;
  margin-right: 2px;
}

.import-public-key:hover{
  background-color : rgb(212, 210, 210);
}

.import-public-key:focus{
  background-color : rgb(224, 224, 224);
}

.export-key-pair{
  cursor: pointer; 
  text-decoration: none;
  text-transform: none;
  line-height: 15px;
  height: fit-content;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 6px;
  color: rgb(97,97,97);
  background-color: rgb(224, 224, 224);
  padding: 5px;
  margin-right: 2px;
}

.export-key-pair:hover{
  background-color : rgb(212, 210, 210) ;
}

.export-key-pair:focus{
  background-color : rgb(224, 224, 224) ;
}

.delete-key-pair{
  cursor: pointer; 
  text-decoration: none;
  text-transform: none;
  line-height: 15px;
  height: fit-content;
  border: 1px solid rgb(231, 55, 55);
  border-radius: 6px;
  color: whitesmoke;
  background-color: rgb(231, 55, 55);
  padding: 5px;
  margin-right: 2px;
}

.delete-key-pair:hover{
  background-color : rgb(214, 12, 12) ;
}

.delete-key-pair:focus{
  background-color : rgb(231, 55, 55) ;
}

.delete-contact{
  cursor: pointer; 
  text-decoration: none;
  text-transform: none;
  line-height: 15px;
  height: fit-content;
  border: 1px solid rgb(231, 55, 55);
  border-radius: 6px;
  color: whitesmoke;
  background-color: rgb(231, 55, 55);
  padding: 5px;
  margin-right: 2px;
}

.delete-contact:hover{
  background-color : rgb(214, 12, 12) ;
}

.delete-contact:focus{
  background-color : rgb(231, 55, 55) ;
}

.add-new-contact{
  cursor: pointer; 
  text-decoration: none;
  text-transform: none;
  line-height: 15px;
  height: fit-content;
  border: 1px solid rgb(255,202,40);
  border-radius: 6px;
  color: rgb(97,97,97);
  background-color: rgb(255,202,40);
  padding: 5px;
  margin-right: 2px;
}

.add-new-contact:hover{
  background-color : rgb(234, 186, 40) ;
}

.add-new-contact:focus{
  background-color : rgb(255,202,40) ;
}

.create-keypair{
  text-decoration: none;
  text-transform: none;
  line-height: 15px;
  height: fit-content;
  cursor: pointer; 
  border: 1px solid rgb(255,202,40);
  border-radius: 6px;
  color: rgb(97,97,97);
  background-color: rgb(255,202,40);
  padding: 6px;
  margin-right: 2px;
}

.create-keypair:hover{
  background-color : rgb(234, 186, 40) ;
}

.create-keypair:focus{
  background-color : rgb(255,202,40) ;
}

.import-keypair{
  cursor: pointer; 
  text-decoration: none;
  text-transform: none;
  line-height: 15px;
  height: fit-content;
  border: 1px solid rgb(255,202,40);
  border-radius: 6px;
  color: rgb(97,97,97);
  background-color: rgb(255,202,40);
  padding: 6px;
  margin-right: 2px;
}

.import-keypair:hover{
  background-color : rgb(234, 186, 40) ;
}

.import-keypair:focus{
  background-color : rgb(255,202,40) ;
}

.ok{
  cursor: pointer; 
  text-decoration: none;
  text-transform: none;
  line-height: 10px;
  height: fit-content;
  border: 1px solid rgb(59, 151, 59);
  border-radius: 6px;
  color: whitesmoke;
  background-color: rgb(59, 151, 59);
  padding: 5px;
  margin-right: 2px;
}

.ok:hover{
  background-color : rgb(49, 130, 49) ;
}

.ok:focus{
  background-color : rgb(59, 151, 59) ;
}


.cancel{
  cursor: pointer; 
  text-decoration: none;
  text-transform: none;
  line-height: 10px;
  height: fit-content;
  border: 1px solid rgb(231, 55, 55);
  border-radius: 6px;
  color: whitesmoke;
  background-color: rgb(231, 55, 55);
  padding: 5px;
  margin-right: 2px;
}

.cancel:hover{
  background-color : rgb(214, 12, 12) ;
}

.cancel:focus{
  background-color : rgb(231, 55, 55) ;
}

.collection {
  border-radius: 8px;
  border: 1px solid rgb(255,202,40);
}

.info{
  display: block;
}

.info li{
  display: block;
  white-space: initial;
}

.info li small{
  display: block;
  white-space: initial;
}