::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #DBDBDB;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #ededed;
}

body {
  scrollbar-face-color: #DBDBDB;
  scrollbar-track-color: #ededed;
}

.wrapper {
  padding: 0px;
  min-height: 100%;
  max-height: 100%;
}
.wrapper .wide {
  width: 100%;
}
.wrapper .overflow {
  height: calc(100vh - 30px - 2em);
  overflow-y: auto;
}

.collection {
  padding: 0px;
  border: 0px;
}

.collection-item {
  min-height: 0px;
}
.collection-item:hover {
  filter: brightness(85%);
}

#content {
  overflow: hidden;
  height: calc(100vh - 30px);
  background-color: #F5F5F5;
}


/* Setting height of the .sidebar's parent element to 100% */
.wrapper {
  height: 100% !important;
  width: 100% !important;
}
.row {
  height:100% !important;
}

#mail {
  margin-left: 40px;
  margin-right: 75px;
}




.padding {
  padding: 10px 10px 10px 10px;
}


.sidebar {
  font-size: medium !important;
  background-color: rgb(97,97,97) !important;
  height: 100% !important;
  box-sizing: border-box !important;
}

.mainarea{
  font-size: medium !important;
  box-sizing: border-box !important;
  padding-top: 40px !important;
}

.folder-button {
  background-color: rgb(97,97,97) !important; 
  color : rgb(224, 224, 224) !important;
  border-radius: 7em !important;
}

.folder-button:hover {
  color: rgb(224, 224, 224) !important; 
  background-color : rgb(146, 145, 145) !important;
}


.user-button {
  background-color: rgb(189,189,189) !important; 
  color : rgb(97,97,97) !important;
  border-radius: 7em !important;
  margin-top : 4em;
  margin-bottom: 5px;
  text-transform: unset !important;
}

#compose-button {
  margin-top : 10px;
  margin-bottom: 25px;
}

#compose-button:hover {
  margin-top : 10px;
  margin-bottom: 25px;
  background-color : rgb(199, 152, 10) !important
}


#icompose {
  color : rgb(97,97,97) !important;
}

#iactions {
  color : rgb(199, 152, 10) !important;
}

#iactions-nested {
  color : rgb(97,97,97) !important;
}