::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #DBDBDB;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #ededed;
}

body {
  scrollbar-face-color: #DBDBDB;
  scrollbar-track-color: #ededed;
}

.wrapper {
  padding: 2em 2em 0px 2em;
  min-height: 100%;
  max-height: 100%;
}
.wrapper .wide {
  width: 100%;
}
.wrapper .overflow {
  height: calc(100vh - 30px - 2em);
  overflow-y: auto;
}

.collection {
  padding: 0px;
  border: 0px;
}

.collection-item {
  min-height: 0px;
}
.collection-item:hover {
  filter: brightness(85%);
}

#content {
  overflow: hidden;
  height: calc(100vh - 30px);
  background-color: #F5F5F5;
}

.electron-in-page-search-window {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  width: 300px !important;
  height: 36px !important;
  background-color: white !important;
}

.electron-in-page-search-window.search-inactive {
  visibility: hidden;
}

.electron-in-page-search-window.search-active {
  visibility: visible;
}
